.navConteiner {
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  padding: 20px 0 0 0;
  margin: 0 0 10% 0;
}
.navUl {
  list-style-type: none;
  display: flex;
  margin: 0 0 0 0;
}

.nav_Li {
  border-radius: 10px;
  padding: 5px;
  margin: 0 0 0 30px;
}

.nav_a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 120%;
}

.sub_Ul {
  list-style: none;
  display: block;
}

.sub_Li {
  margin: 10% 0 0 0;
  padding: 0 0 0 0;
}

.sub_a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.nav_a,
.sub_a:hover {
  color: #fb4428;
}
