.divStyleConteiner{
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0 50px;
    flex-wrap: wrap;
}
.divStyleSubConteinerLeft {

}

.divStyleSubConteinerRight {

}

.textBigConteinerStyle {
    display: block;
    margin: 10% 0 0 0;
}

.textBigStyle {
    font-size: 100px;
    font-weight: 600;
    margin: 0 0 0 0;
}

.textSmallConteinerStyle {
    display: block;
    margin: 70px 0 80px 0;
}

.textSmallStyle {
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 0 0;
}

.lineStyle {
    height: 1px;
    width: 99%;
    background-color: white;
    margin: 10% 0 0 0;
}

